/*All site small*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
html{
    font-family: 'Ubuntu', sans-serif;
}
body{
    margin:0;
}
*{
    box-sizing: border-box;
}
.wrapper{
    max-width: 1200px;
    margin: 20px auto;
    outline: 2px solid #5fad56;
}
header{
    background: url(../images/header.png) no-repeat;
    background-position: -100px;
    position: relative;
    height: 300px;
}
nav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #2b5043cc;
}
nav::after {
    content: '';
    clear: both;
    display: table;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav>ul>li{
    float: left;
}
nav a{
    color: #F2C14E;
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: 0.5s;
    transition-property: background-color;
}
nav a:hover{
    background-color: #1c1d21;
    color: white

}
nav a:focus{
    outline: 2px solid #F2C14E;
}
.menu{
    position: relative;
}
nav .menu:hover .submenu{
    display: contents;
    transition: 0.5s;
}
nav .submenu{
    position: absolute;
    background-color: rgba(77, 140, 120, 1);
    width:100vw;
    display: none;
}
nav .submenu a{
    padding: 10px 5px;
}
nav .submenu a:hover{
    background-color: #1c1d21;
    color: white

}
nav .site-name{
    margin-left: 25%;
    color: #F2C14E;
    text-decoration: none;
    padding: 20px;
    display: block;
    font-size: 1.4rem;
}
.big-menu{
    display: none;
}
header h1{
    position: absolute;
    bottom:0;
    right:10px;
    color: #1c1d21;
    text-shadow: 2px 2px 5px #5fad56;
    margin-right:20px;
    font-size: 2rem;
}
.sticky{
    position:-webkit-sticky; 
    position:sticky; 
    bottom:0;
    margin-left:5px;
}
.sticky a{
    text-decoration: none;
    font-size: 1.8rem;
    color:#f78154;
}
.sticky a:hover{
    outline: 2px solid #f78154;
}
footer{
    padding: 20px 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.insta{
    background: url(../images/insta-base.png) no-repeat;
    height: 30px;
    width: 30px;
    display: inline-block;
}
.insta:hover{
    background: url(../images/insta-hover.png) no-repeat;
}
.insta:focus{
    outline: 2px solid #2b5043cc;
}
.face{
    background: url(../images/face-base.png) no-repeat;
    height: 30px;
    width: 30px;
    display: inline-block;
}
.face:hover{
    background: url(../images/face-hover.png) no-repeat;
}
.face:focus{
    outline: 2px solid #2b5043cc;
}
footer a{
    padding: 20px;
}
footer span{
    border-top: 1px solid #1c1d21;
}
.css-valide img{
    border:0;
    width:88px;
    height:31px
}
/* Site separate*/
/*index*/
.main-wrapp{
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
}
main h1{
    text-align: center;
    margin-top: 5px;
}
main h1 span{
    color: #F2C14E;
    padding: 0 5px;
    background-color: rgb(43, 80, 67);
    border-radius: 5px;
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
    border: 2px solid rgb(43, 80, 67);
}
.article-wrapper h2{
    color: rgb(43, 80, 67);
    padding-bottom: 2px;
    border-bottom: 1px solid #2b5043cc;
}
main p{
    line-height: 2;
}
.article-wrapper{
  text-align: justify;
  border-bottom: 3px solid #5fad56;
  max-width: 350px;
  margin-right: 20px;
}
.article-wrapper .details{
    margin-top: 0px;
}
.article-wrapper .details a{
    display: inline-block;
    background: #2b5043cc;
    padding: 5px 10px;
    color: #F2C14E;
    text-decoration: none;
    font-size: 1.3rem;
    border-radius: 10px;
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
    border: 2px solid rgb(43, 80, 67);
    cursor: pointer;
}
/*what*/

/*Up to 400px*/
@media (max-width:899px) and (min-width:400px){
/*Test background*/
    body{
        background-color: darkcyan;
    }
/*All site*/
    footer{
        background: rgba(43, 80, 67, 0.9);
        padding: 20px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    footer span{
        color: #5fad56;
        border-top: none;
    }
}
/*up to 900px*/
@media (min-width: 900px){
/*All site big*/
    .big-menu{
        display: block;
        
    }
    header h1{
        font-size: 3rem;
    }
    .small-menu{
        display: none
    }
    footer{
        background: rgba(43, 80, 67, 0.9);
        padding: 20px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    footer span{
        color: #5fad56;
        border-top: none;
    }
/*index big*/
    .main-wrapp{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    main h1{
        text-align: center;
        margin-top: 5px;
        display: block;
    }
    main h2{
        color: rgb(43, 80, 67);
        margin-top: 3rem;
    }
    main p{
        line-height: 2;
    }
    .article-wrapper{
      border-bottom: 3px solid #5fad56;
      max-width: 100%;
    }
    .article-wrapper .details{
        margin-top: 0px;
    }
    .article-wrapper .details a{
        display: inline-block;
        background: #2b5043cc;
        padding: 5px 10px;
        color: #F2C14E;
        text-decoration: none;
        font-size: 1.3rem;
        border-radius: 10px;
        -webkit-box-decoration-break: clone;
        -o-box-decoration-break: clone;
        box-decoration-break: clone;
        border: 2px solid rgb(43, 80, 67);
        cursor: pointer;
    }
/*what*/
/*The End!*/
}
/*Welcome to the nowhere*/